/*=======================================
フッター
=========================================*/
.l-footer {
	background-color: #004798;
	padding: 25px 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	h2{

		text-align: center;
	}
	ul{
		display: inline-block;
		padding: 15px 0;
		li{
			display: inline-block;
			margin-right: 15px;
			@include fs(12);
			a{
				text-decoration: none;
				color: #FFF;
			}
		}
	}
	p{
		@include fs(10);
		color: #FFF;
		text-align: center;
	}
}


/*=======================================
ページトップへ
=========================================*/
.l-pagetop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 40px;
	height: 40px;
	z-index: 999;
}