/*=======================================
ヘッダー
=========================================*/
/* ヘッダー
-----------------------------------------*/
.c-head{
}

.l-head-fix{
	background: #fff;
	padding: 0 0 0 0;
	
}



/*
-----------------------------------------*/
.c-head{
	padding: 10px 8px 10px 8px;
	position: relative;
	border-bottom: 1px solid #CCCCCC;

	&__logo{
		margin: 3px 0 0 0;
		p{
			font-size: 11px;
			color: #FFF;
			line-height: 120%;
		}
		h1,
		.c-top-menu{
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}
		h1{
			width: 70%;
			float: left;
			margin: 6px 0 0 0;
			text-align: right;
		}
		.c-top-menu{
			width: 18%;
			max-width: 50px;
			float: right;
			padding: 2px 0 0 0;
		}
	}
}


/*
-----------------------------------------*/

.c-top-menu{
	display: inline-block;
	z-index: 5500;
	position: relative;
	width: 100%;
}

/*
-----------------------------------------*/
#sp-menu{
	width:100%;
	position: absolute;
	left:0px;
	z-index: 9000;
	display: none;
}

.c-sp-menu{
	font-size: 110%;
	font-weight: normal;

	ul{
		ul{
			display: none;
		}
		li{
			text-align:left;
			background: rgba(255,255,255,1);
			&.u-children a{
				padding-left: 10%;
			}
			 a,span{
				cursor: pointer;
				display:block;
				text-align:left;
				padding:14px 0 14px 12px;
				line-height:100%;
				border-bottom:1px solid #A4AFD3;
				text-decoration:none;
				margin: 0 0 0 0;
				color: #1F3992;
				position: relative;
				font-weight: bold;
				@include fs(13);
				&:after{
				  position: absolute;
				  right: 10px; 	
				  font-family: "Font Awesome 5 Free";
				  content: '\f078';
				  font-weight: 900;
				  color: #1F3992;					
				}
				&.is-open:after{
					content: '\f077'!important;
				}
			}
			&.c-sp-menu__2{
				background-color:rgba(0,71,152,1);
				a,span{
					color: #FFF;
					&:after{
					  position: absolute;
					  right: 10px; 	
					  font-family: "Font Awesome 5 Free";
					  content: '\f138';
					  font-weight: 900;
					  color: #fff;
					}
				}
			}
			&.c-sp-menu__3{
				background:rgba(178,0,0,1);
				a,span{
					color: #FFF;
					&:after{
					  position: absolute;
					  right: 10px; 	
					  font-family: "Font Awesome 5 Free";
					  content: '\f078';
					  font-weight: 900;
					  color: #fff;					
					}
					&.is-open:after{
						background: url("/common/img/icon_14.png") 0 0 no-repeat;
					}
				}
			}
			&.c-sp-menu__3-in{
				background:rgba(178,0,0,1);
				a,span{
					color: #FFF;
					&:after{
					  position: absolute;
					  right: 10px; 	
					  font-family: "Font Awesome 5 Free";
					  content: '\f138';
					  font-weight: 900;
					  color: #fff;					
					}
					&.is-open:after{
						background: url("/common/img/icon_14.png") 0 0 no-repeat;
					}
				}
			}




		}
	}
}



.c-sp-menu-contact{
	background-color:rgba(0,71,152,1);
	padding: 15px 0;

	p,a,span{
		text-align: center;
		display: block;
		color: #FFF;
		line-height: 100%;
	}
	p{
		font-weight: bold;
		font-size: 13px;
		margin: 0 0 4px 0;
	}
	a{
		font-size: 30px;
	}
	span{
		font-size: 12px;
		margin: 8px 0 0 0;
	}
}

.menu-trigger {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;

  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #004798;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 15px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  position: relative;
  width: 38px;
  height: 33px;

  &.active span {
    &:nth-of-type(1) {
      -webkit-transform: translateY(15px) rotate(-315deg);
      transform: translateY(15px) rotate(-315deg);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      -webkit-transform: translateY(-15px) rotate(315deg);
      transform: translateY(-15px) rotate(315deg);
    }
  }
}
