/*=======================================
フッター
=========================================*/
.l-footer {
	background-color: #004798;
	padding-top: 45px;
	min-height: 240px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	h2{
		float: left;
		margin-right: 15px;
	}
	ul{
		float: left;
		li{
			float: left;
			margin-right: 15px;
			@include fs(12);
			a{
				text-decoration: none;
				color: #FFF;
			}
		}
	}
	p{
		@include fs(10);
		float: right;
		color: #FFF;
	}
}


/*=======================================
ページトップへ
=========================================*/
.l-pagetop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 999;
}